<!DOCTYPE html>
<html ng-app = "endOfShiftForm">
  <head>
    <meta charset="UTF-8">
    <title>Angular End of Shift Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="style.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>

  <body class="green lighten-5" ng-controller="endShiftController">
    <header>
      <div class="header green darken-4">
        <div class="container">
          <a href="https://thinkbrainiac.com/"><img class="responsive-img" src="img/brainiacLogo.png" height="180" width="250"></a>
        </div>
      </div>
  </header>
    <div class="container green lighten-2" id="title">
      <h2>Building Form for with Angular</h2>
      <p class="require">The lead mentor should fill this out at the end of each shift.</p>
      <p class="require">* Required</p>
    </div>
    <div class="container green lighten-5" id="form">
      <div class="row">
        <div class="input-field col m6">
          <label for="dateSubmit">Date <a class="require">*</a></label>
          <br>
          <input id= "dateSubmit" type="date" class ="datepicker" required>
        </div>
        <div class="input-field col m6">
          <br/>
          <label>Lead Mentor <a class="require">*</a></label>
          <select id="leadMentor" required>
            <option value="" disabled selected>Select Lead Mentor</option>
            <option value='"' + {{mentor.name}} + '"' ng-repeat = "mentor in mentors | orderBy: 'name'">{{mentor.name}}</option>
          </select>
        </div>
      <div class="row">
        <div class="input-field col m6" >
          <br/>
          <label>Other Mentors <a class="require">*</a></label>
          <select multiple id="otherMentor" required>
            <option value="" disabled selected>Select Mentor</option>
            <option value='"' + {{mentor.name}} + '"' ng-repeat = "mentor in mentors | orderBy: 'name'">{{mentor.name}}</option>
          </select>

        </div>
        <div class="input-field col m6">
          <br/>
          <label>Students Present <a class="require">*</a></label>
          <select multiple id="studentsPresent" required>
            <option value="" disabled selected>Select Students Present</option>
            <option value="{{student.name}}" ng-repeat = "student in students | orderBy: 'name'">{{student.name}}</option>
          </select>
        </div>
      </div>

      <div class="row input-field col m12">
        <label for="studentIssues">Student who had specific issue(s) <a class="require">*</a></label>
        <br>
        <ul id= "studentIssues">
        </ul>
        <div class="row">
          <div class="input-field col m2" >
            <br>{{studentName}}
            <select class= "browser-default" ng-model="studentName" id= "studentName" required>
              <option value="" disabled selected>Select Student *</option>
              <option value="{{student.name}}" ng-repeat = "student in students | orderBy: 'name'">{{student.name}}</option>
            </select>
          </div>
          <div class="input-field col m2">
            <br>{{mentorName}}
            <select class="browser-default"  ng-model="mentorName" id= "mentorName" required>
              <option value="" disabled selected>Select Mentor *</option>
              <option value="{{mentor.name}}" ng-repeat = "mentor in mentors | orderBy: 'name'">{{mentor.name}}</option>
            </select>
          </div>
          <div class="input-field col m2">
            <br>{{onetoone}}
            <select class= "browser-default" ng-model="onetoone" id= "oneToOne" required>
              <option value="" disabled selected>One-to-one? *</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
          <div class="input-field col m6">
            <br>{{studentIssue}}
            <input ng-model= "studentIssue" type="text" id="addIssue" placeholder="Enter Issue(s)">
          </div>
        </div>
        <button class="col m1 btn waves-effect waves-light" id="addStudentIssue">+</button>
      </div>

      <div class="row input-field col m12">
        <label for="workbookIssues">Which workbooks had issues? <a class="require">*</a></label>
        <br>
        <ul id= "workbookIssues">
        </ul>
        <div class="row">
          <input class= "col m3"type="text" id="wbId" placeholder="Enter Workbook Id" required>
          <input class= "col m3"type="text" id="wbQuestion" placeholder="Enter Question #" required>
          <input class= "col m6"type="text" id="wbIssue" placeholder="Enter Issue(s)" required>
        </div>
        <button class="col m1 btn waves-effect waves-light" id="addWBIssue">+</button>
      </div>

      <div class="row">
        <div class="input-field col m6">
          <label for="wentWell">What went well? <a class="require">*</a></label>
          <textarea id="wentWell" class="materialize-textarea" required></textarea>
        </div>
        <div class="input-field col m6">
          <label for="notGoWell">What didn't go well? <a class="require">*</a></label>
          <textarea id="notGoWell" class="materialize-textarea" required></textarea>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m12">
          <label for="additionalComments">Additional Comments</label>
          <textarea id="additionalComments" class="materialize-textarea"></textarea>
        </div>
        <br>
        <button class="btn modal-trigger waves-effect waves-light z-depth-2" id="submit-btn" data-target="submitModal" name="action">Submit
        <i class="material-icons right">done</i>
        </button>
      </div>
    </div>

    <!-- Modal -->
    <div  class="modal modal-fixed-footer" id="submitModal">
      <div class="modal-content">
        <h2>Submit Form</h2>
        <p>Thank you! Your end of shift form has been submitted.</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="btn-flat modal-action modal-close waves-effect waves-default">close</a>
      </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer green darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Brainiac Math & English Center</h5>
            <p class="copyright">© 2016 Copyright Brainiac Math & English Center</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
